body{
	margin:0px auto;
	padding:0px;
	font:12px 'Microsoft Yahei',STHeiti,sans-serif;
	text-align:center;
}
#header{
	width:100%;
	height:100px;	
	background-image:url(../images/top-pumel-bg.jpg);
}
.header-container{
	width:1120px;
	margin:0 auto;
	font-size:12px;
}
.logo{
	display:block;
	float:left;
	width:161px;
	height:38px;
	padding-top:31px;
}
.nav-list{
	float:right;
	padding-top:36px;
	line-height:25px;
}
.nav-list ul{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
.nav-list li{
	float:left;
}
.nav-list a{
	font-size:14px;
	color:#fff;
	padding:0 14px;
	text-decoration:none;
}
.nav-list .buy-col{
	float:left;
	padding-left:21px;
	border-left:1px solid #414345;
	margin-left:14px;

}
.nav-list .buy-col a{
    float: left;
    height: 26px;
    padding: 0 15px;
    border: 1px solid #414345;
    line-height: 25px;
}
.buy-button{
    height: 26px;
    padding: 0 18px;
    margin-left: 20px;
    background: #6B89D5;
    border: 1px solid #6B89D5;
    line-height: 25px;
}
#menu{
	width:100%;
	height:38px;
	background-image:url(../images/global-gray-bg-light.jpg);
}
.tiao{
	width:1120px;
	height:38px;
	margin:0 auto;
	font-size:12px;
	line-height: 38px;
}
.header-language-wrapper{
        float: left;
        width: 120px;
}
.t1{
        padding: 0 25px 0 6px;
}
.header-account-wrapper{
	float:right;
}
#login{
	display: block;
        float: left;
        padding: 0 12px;
        color: #45474b;
}
.sep{
	float:left;
}
#register{
	float: left;
        padding: 0 6px 0 12px;
        color: #45474b;
}
#main{
	width:100%;
        padding:0;
        margin-bottom:-4px;
	background-image:url(../images/index-background-image.jpg);
	background-position:center;
}
.tu1{
	padding:50px 0;
	margin:0 auto;
}
#watch{
	width:100%;
	height:270px;
	border-bottom:1px solid #f1f1f0;
	background-image:url(../images/index-live-watch-background.jpg);
	background-repeat: no-repeat;
	background-position:center;
}
.liveshow{
	margin:0px auto;
        width: 1120px;
        padding:36px 0 0 0;
        text-align: center;
        list-style: none;
}
.liveshow li{
        display: inline-block;
        width: 353px;
        text-align: center;
        height: 187px;
}
#footer{
	width:100%;
	height:224px;
}
#footer .service{
	width: 100%;
	height: 162px;
	background-color: #FBFBFB;
}
#footer .service .inner{
	width: 1120px;
        margin: 0 auto;
}
.inner .info{
	float:left;
	margin: 0 auto;
}
.info ul{
        float: left;
        width: 288px;
        padding: 15px 0 0 0 ;
        margin:0;
        list-style: none;
}
.info ul li{
	color: #CCC;
        padding: 6px 0;
        font-size: 12px;
        line-height: 12px;
        text-align:left;

}
.info ul li h3{
	padding: 9px 0 13px;
        font: 18px 华文黑体,"Microsoft YaHei",微软雅黑,STHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
        margin:0;
        color: #434d55;
}
.info ul li a{
	color: #434d55;
	text-decoration: none;
        font-family: 华文黑体,"Microsoft YaHei",微软雅黑,STHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.online{
        margin: 0;
        overflow: hidden;
        padding: 32px 0 0;
        line-height: 34px;
}
.online .aaa{
	float:right;
	width: 117px;
        height: 34px;
        background: url(../images/need-help-button.png);
}
.online .aaa a{
        width: 91px;
        height: 34px;
        line-height: 34px;
        font-size: 16px;
        color: #fff;
        padding: 0 0 0 26px;
        text-align: right;
        text-decoration: none;
}
.tel{
	float:right;
	color: #666;
	font-size: 28px;
	line-height: 51px;
        text-align: right;
        width: 230px;
        margin: 0;
        clear: both;
}
.tel a{
	text-align:right;
	color: #434d55;
        font-family: 华文黑体,"Microsoft YaHei",微软雅黑,STHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-decoration: none;
}
.ppp{
	float:right;
}
.ppp a{
	line-height: 18px;
        text-align:right;
        color: #999;
}

.copyright{
	width: 100%;
	height: 62px;
	background-color: #F1F1F1;
}
.di{
	width: 1120px;
        margin: 0 auto;
}
.copy-label{
	text-align:left;
        padding-top: 18px;
        margin:6px 0;
        color: #666;
}
.icp-text{
	text-align:left;
        display: block;
        height: 12px;
        margin:6px 0;
        text-decoration: none;
        color: #666;
}